backend/simplePrices.json
backend/simplePrices.json
frontend/SimplePrices/src/app/components/category/category.component.html
frontend/SimplePrices/package-lock.json
backend/SimplePrices/Properties/PublishProfiles
backend/SimplePrices/SimplePrices.csproj.user
backend/SimplePrices/SimplePrices.csproj.user
*.pubxml
~$BEYOND THE $ALES.pptx
node_modules/
